
.Layout{
    display: flex;
    flex-direction: row;
    min-height:100vh; /* Make the layout take up the full viewport height */
    position:relative;
    background-color: #f4f4f4;

    .Layout-header{
        background-color: #333;
        color:white;
        padding: 8px 16px;
        width:200px;
        .Layout-header-heading {
            display: flex;
            align-items: center;
            gap:2px;
        }
    }

    .Nav{
        .Nav-link{
            text-decoration: none;
            color:white;
            display: flex;
            align-items: center;
            gap:10px; /* gap between icon and text */
            margin-left: 5px;
        }

        .Nav-link:hover{
            color:#FFFDD0; /* cream */
        }
    }

    .Layout-footer{
        position:absolute;
        bottom: 0; /* make the footer stick at the bottom */
        left:0; /* make the text align at the center */
        right:0; 
        text-align: center;
        padding: 5px;

        a{
            text-decoration: none;
        }
    }
}