@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.App {
    overflow: hidden; /* prevent overflow */
    display: flex;
    width: 100%;
}

.subpage {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensure the container takes at least the full viewport height */
  }